<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa Mercado Livre</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="/static/img/logo-mercadolivre.png" alt="Logo Mercado Livre">
            <h1>Pesquisa Mercado Livre</h1>
        </div>
    </header>
    
    <div class="container">
        {% if message %}
        <div class="message {{ message_type }}">
            {{ message }}
        </div>
        {% endif %}
        {% if average_price %}
        <div class="average-price">
            <h2>Valor Médio: R$ {{ "%.2f" % average_price }}</h2>
        </div>
        {% endif %}
        <form name="searchForm" action="/search" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="input-group">
                    <div>
                        <label for="query">Produto:</label>
                        <input type="text" name="query" placeholder="Digite sua pesquisa...">
                    </div>
                    <div>
                        <label for="quantity">Quantidade:</label>
                        <input type="number" name="quantity" min="10" max="100" value="10" placeholder="Quantidade de itens">    
                    </div>        
                </div>
            </div>
            <button type="submit">Buscar</button>
        </form>
        {% if results %}
        <h2>Resultados:</h2>
        <ul>
            {% for product in results %}
            <li>
                <strong>Título:</strong> {{ product[0] }}<br> 
                <strong>Descrição:</strong> {{ product[1] }}<br> 
                <strong>Preço:</strong> {{ product[2] }}<br> 
                <strong>Link:</strong> <a href="{{ product[3] }}">Ver no Mercado Livre</a><br> 
                <strong>Avaliações:</strong> {{ product[4] }}<br> 
                <strong>Avaliação:</strong> {{ product[5] }}<br> 
                <strong>Desconto:</strong> {{ product[6] }}<br> 
                <strong>Vendedor:</strong> {{ product[7] }}<br> 
                <strong>Parcelas:</strong> {{ product[8] }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>